这是一个nextjs项目，你是一个高级前端开发工程师，做一个付费视频平台，和论坛，和接单平台

支付先使用支付宝的沙箱环境，后续再使用正式环境

学习平台需求


一：界面布局
二：主要功能列表
1.账号售卖功能
a.用户打开网站，需进行登录才可使用功能，未登录时可游览页面内容
b.若未登录点击学习、游戏、接单、论坛等入口弹出登录提示框，
c.若用户手机号未注册，弹出提示“去注册”
d.注册为单独的页面，页面除了输入手机号外，还需进行付费购买，目前售价299
2.视频学习功能，每个视频单独扣费，1白块钱1000积分，视频完播率，防盗，水印。
a.视频学习分为收费视频和免费视频两种，点击收费视频后需看用户账户是否有余额，若有余额则直接扣除，若无余额则跳转充值
b.学习视频跳转至单独页面进行播放，学习视频需分章节学习，可重复学习
3.论坛 后台审核管理系统
a.用户可进行发帖、回复、删帖、点赞
b.管理端可进行删帖、删回复、置顶贴子
c.用户从非首页跳转后，需进行登录，只有有账号的用户才可进行发帖，游客只能看
d.论坛有每日精选、热度排行、最新帖子
e.贴文需可审核
4.接单平台 富文本，图片文字视频，类似论坛，发布后管理员审核，通过后所有人可见，手机  和管理员留言，管理员对用户打电话，
a.用户可进行接单、发单
b.点击接单后，管理员在管理端进行审核，并从接单列表中进行选择接单者
c.任务有：待发布（需管理员确认）、待接单、执行中、已完成几种状态
d.管理员管理端可看到已存在的任务单（可进行发布、删除、置顶、隐藏、修改状态操作）、待发布的任务单列表、每个任务单后的接单备选人员，管理员可进行任务单指派
e.发单者，发单后需进行奖金支付，支付完毕后可发单，单子处于待发布状态
f.接单者完成任务后，点击完成任务按钮，可提交完成任务，管理员进行任务完成状态审核，确认完成后奖金将打到接单者平台账号中。
g.用户在平台中可进行充值、提现操作，提现需收取10%手续费
h.提现完成后，平台将扣除手续费的奖金支付给完成任务的用户
5.游戏入口
a.用户点击游戏入口，可拉起本地游戏exe
b.若用户未下载游戏，则跳转至游戏下载页面
c.游戏有独立下载页面，用户可进行下载
6.模块化处理
a.所有大的模块，均需要拆分，要求要能达到独立售卖、部署
7.管理端需求
a.管理员可进行添加用户账号、删除用户账号、冻结用户账号
b.统计需求（人数、日活、充值金额）
c.管理端可统计需支付金额及人员，方便财会进行汇款


你开发时需要遵守的规则如下：
1. 使用typescript开发
2. 使用tailwindcss进行样式管理，需要对页面进行自适应，适配pc端低分辨率和移动端
3. 使用中文说话
4. 尽可能的封装组件，减少重复代码
5. 使用语义化标签,进行seo优化
6. 代码加入中文注释
7. 数据库使用prisma开发，import prisma from '@/lib/prisma';
8. 使用@/utils/response.ts进行接口的ResponseUtil进行接口数据返回
9. 不使用阴影，字体不要粗体， 极简风格，这很重要
10. 上传使用腾讯云cos,上传接口api/common/upload



加密禁用bcrypt，使用argon2
接口请求使用/src/utils/request.ts
接口使用：next/server


UI框架使用antd框架
图标库使用react-icons
token使用cookie，不使用localStorage

如果你了解了，请回复“我了解了”

前端用户信息存储，使用cookie存储和token，token使用jwt

提示消息组件和确认弹窗使用sweetalert2

取消任务，超过10分钟内全退，超过10分钟，扣除10%的积分